<!DOCTYPE html>
<html>
  <head>
    <title>RailsGraphqlReactEsbuild</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <%= yield %>
    <%if notice || alert%>
      <dvi class="toast toast-end toast-end">
          <%if notice%>
            <div class="alert alert-info">
              <span><%= notice %></span>
            </div>
          <%end%>
          <%if alert%>
            <div class="alert alert-success">
              <span><%= alert %></span>
            </div>
          <%end%>
      </div>
      <% end %>
  </body>
</html>
